<div class="text-center mt-4 display-4">Log In</div>

<div class="container mt-4"> 
  <div class="row justify-content-center">
    <div class="col-6">
      <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-3 bg-secondary text-white rounded", local: true, data: { turbo: false }) do |f| %>  
        <div class="form-group row m-3">
          <%= f.label :email, for: "email", class: "col-2 col-form-label" %>
          <div class="col">
            <%= f.email_field :email, id: "email", class: "form-control shadow rounded", placeholder: "Enter your email address" %>
          </div>
        </div>

        <div class="form-group row m-3">
          <%= f.label :password, for: "password", class: "col-2 col-form-label" %>
          <div class="col">
            <%= f.password_field :password, id: "password", class: "form-control shadow rounded", placeholder: "Enter your password" %>
          </div>
        </div>

        <div class="form-group row m-4 justify-content-center">
          <%= f.submit "Log In", class: "btn btn-success btn-md col-3" %>  
        </div>  
      <% end %>    
    </div>
    <div class="col-12 text-center mb-4">
      <%= link_to "[ Don't have an account? Sign Up here ]", signup_path, class: "text-dark" %>
    </div>
  </div>
</div>